# R/RStudio config files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Binary files
*.o
*.so
*.dll
.DS_Store
*.csv

# Python cache and build files
python/benchmark/benchmark_FairSVM/__cache__/
python/benchmark/benchmark_SVM/__cache__/
python/benchmark/benchmark_QR/__cache__/

__pycache__/
python/build/
python/ReHLine.egg-info/
*.log