# Config files

# Binary files
*.o
*.so
*.dll
.DS_Store
*.csv

# Python cache and build files
**/__pycache__/
build/
rehline.egg-info/
*.log
env/
.venv/

# Files during package building
eigen-3.4.0/
eigen3.zip

# Package sdist
*.tar.gz
*.whl

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix